@using SyntacticSugar;
@using Best.Site.Areas.BestPalace.Controllers;
@{
    Dictionary<string, string> attrList = Model.attrList;
    Dictionary<string, string> eventList = Model.eventList;
    var specialEvents = new string[] { "callBack", "preinit", "setValue", "getValue" };
    var id = attrList["name"];
    var name = attrList["name"];
    var height = PubControlHelper.GetControlAttributeByBuild(attrList, "height");
    var class_ = PubControlHelper.GetControlAttributeByBuild(attrList, "class");
    var width = PubControlHelper.GetControlAttributeByBuild(attrList, "width");
    var html = PubControlHelper.GetControlAttributeByBuild(attrList, "html");
 

}
@using Best.Entities.UiEngine
@using SyntacticSugar
<!------------------@(name) BEGIN------------------>
<div id="@name" class="@("none".AppendString(class_," ",false).AppendString("windowTest"," ",false))"   style="@(width.IsValuable().IIF("width:"+width,"").AppendString(height.IsValuable().IIF("height:" + height, ""),";",false))"  >
    <div class='windowbox'>
        <div>
            @if (html == "") {
               <span>我是弹框，请在这儿填写你的内容</span>
            }
            @html 
        </div>
        <p>
            <input type="button" id="ok" class='jqx-rc-all jqx-button jqx-widget jqx-fill-state-normal' value="保存" /><input type="button" id="cancel" class='jqx-rc-all jqx-button jqx-widget jqx-fill-state-normal' value="取消" />
        </p>
    </div>

</div>
<!------------------@(name) END------------------>