
<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title></title>
    <meta charset="utf-8" />

    <link href="~/_theme/codemirror/_css/codemirror.css" rel="stylesheet" />
    <link href="~/_theme/codemirror/_css/docs.css" rel="stylesheet" />
    <link href="~/_theme/codemirror/_css/show-hint.css" rel="stylesheet" />
    <link href="~/_theme/codemirror/_css/mystyle.css" rel="stylesheet" />
    <script src="~/_theme/codemirror/_Js/codemirror.js"></script>
    <script src="~/_theme/codemirror/_Js/show-hint.js"></script>
    <script src="~/_theme/codemirror/_Js/xml-hint.js"></script>
    <script src="~/_theme/codemirror/_Js/html-hint.js"></script>
    <script src="~/_theme/codemirror/_Js/xml.js"></script>
    <script src="~/_theme/codemirror/_Js/javascript.js"></script>
    <script src="~/_theme/codemirror/_Js/css.js"> </script>
    <script src="~/_theme/codemirror/_Js/htmlmixed.js"></script>
    <script src="~/Scripts/Codemirror/html-hint-page.js"></script>
 


</head>
<body style="height:580px">
 
    <div id="code"></div>

   <input id="hidCode" type="hidden" />
</body>
</html>
