<appSettings>
  <add key="IsDebugger" value="true"/>
  <add key="IsFilter" value="false"/>
  <add key="EncryMethod" value="Md5"/>
  
  <!--工厂产品-->
  <add key="FactoryConfigLog" value="File"/>
  <add key="FactoryConfigCache" value="HttpCache"/>

  <!--前端引擎设置-->
  <add key="uiEngineDir" value="/_theme/ui_engine"/>
  
  <!--gird配置-->
  <add key="gridTheme" value="energyblue"/>
   
  <!--MVC捆绑-->
  <add key="IsBundle" value="true"/>

  <add key="siteName" value="BestExpress"/>
  
  <!--IOC注入设置，多个以逗号隔开-->
  <add key="iocAssembly" value="Best.Infrastructure"/>

  <!--默认语言-->
  <add key="defaultLanguage" value=""/>
  
  <!--母版页追加的js-->
  <add key="layoutAppendJs" value="nw-maintenance-basicInfo.js,nw-perdetail.js" />

  <!--母版页追加的css-->
  <add key="layoutAppendCss" value="" />
</appSettings>