@using Formbuilder.Models
@{
    Column col = Model;
    //图片控件
}
<img id="@(col.columnName)-img-Show" style="width:200px;height:200px;" src="https://images2017.cnblogs.com/news/24442/201708/24442-20170820221446818-622910693.jpg" class="img-responsive img-rounded" alt="@col.columnText">
<br />
<button type="button" id="CertificateAttachment-upload" class="btn btn-info">更改图片</button>
<input type="hidden" class="form-control" id="@col.columnName" name="@col.columnName">