@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/First/Views/_css/home-index.css" rel="stylesheet" />
<p>

<!------------------btn_SB BEGIN------------------>
<button type="button" id="btn_SB" name="btn_SB">
    
</button>
<!------------------btn_SB END------------------> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<script src="~/Areas/First/Views/_js/home-index.js"></script>
